## Porta do serviço (opcional)
PORT=3000

## Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=movmais

## TypeORM
# Em produção, mantenha false e aplique migrations/SQL manualmente.
TYPEORM_SYNC=false


